* {
  text-decoration: none;
  list-style-type: none;
}
body, html {
  margin: 0;
  height: 100%;
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

#root {
  height: 100%;
  margin: 0;
}

.App{
  height: 100%;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none
}